@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&family=Tangerine:wght@700&display=swap');

.stopwatch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .time-display {
    font-size: 3.3rem;
    text-align: center;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  button {
    align-items: center;
    font-size: 1.2rem;
    margin: 0 1.1rem;
    padding: 0.5rem 1rem;
    font-family: 'Quantico', sans-serif;
  }
  
  .stopwatch-header {
    background-color: rgb(187, 218, 243);
    color: white;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    font-weight: bold;
    font-family: 'Tangerine', cursive;
  }
  
  .lap-list {
    align-items: center;
    margin-top: 75px ;
    border: 1px solid black;
    min-height: 200px;
    min-width: 341px;
    /* overflow-y: scroll; */
  }


  .lap-number {
    font-family: 'Quantico', sans-serif;
    margin-left: 15px;
  }

  .lap-time{
    font-family: 'Quantico', sans-serif;
  }
  